@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.App{
    display: flex;
    flex-direction: column;
}

.Header {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    font-family: "Noto Sans KR", sans-serif
}

.Contents {
    display: flex;
    font-size: 15px;
    padding-top: 550px;
    justify-content: space-around;
    font-family: "Noto Sans KR", sans-serif
}

.diskstation {
    display: flex;
    color: black;
    background: white;
    border: 1px solid white;
    border-radius: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    font-family: "Noto Sans KR", sans-serif
}

.dsmtext {
    font-size: 8px;
}

.homeassistant {
    display: flex;
    color: black;
    background: white;
    padding: -90cm;
    border: 1px solid white;
    border-radius: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    font-family: "Noto Sans KR", sans-serif
}

.hatext {
    font-size: 8px;
}

.jellyfin {
    display: flex;
    color: black;
    background: white;
    padding: -90cm;
    border: 1px solid white;
    border-radius: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    font-family: "Noto Sans KR", sans-serif
}

.jlytext {
    font-size: 8px;
}

.visualstudiocode {
    display: flex;
    color: black;
    background: white;
    padding: -90cm;
    border: 1px solid white;
    border-radius: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    font-family: "Noto Sans KR", sans-serif
}

.vsctext {
    font-size: 8px;
}

.vsicon {
    padding-top: 80px;
}

.Background {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
    background-size: cover;
    background-position: center;
    user-select: none;
    pointer-events: none;
    opacity: 0.8;
}
