@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.App{
    display: flex;
    flex-direction: column;
}

.Header {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    font-family: "Noto Sans KR", sans-serif
}

.Contents {
    display: flex;
    font-size: 15px;
    padding-top: 550px;
    justify-content: space-around;
}

.diskstation {
    padding: 25px 70px;
    border-radius: 12px;
    color: black;
    background-color: white;
}

.homeassistant {
    padding: 25px 70px;
    border-radius: 12px;
    color: black;
    background-color: white;
}

.jellyfin {
    padding: 25px 70px;
    border-radius: 12px;
    color: black;
    background-color: white;
}

.visualstudiochode {
    padding: 25px 70px;
    border-radius: 12px;
    color: black;
    background-color: white;
}

.Background {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
    background-size: cover;
    background-position: center;
    user-select: none;
    pointer-events: none;
    opacity: 0.8;
}

